:root {
  --color-main: #ffffff;
  --color-second: #49493f;
  --color-border: #eee;

  --color-white: #fff;
  --color-black: #49493f;
}
.themes-dark {
  --color-main: #49493f;
  --color-second: #eae7dc;
  --color-border: #565656;

  --color-white: #fff;
  --color-black: #49493f;
}
