:root {
  --color-main: #ffffff;
  --color-second: #49493f;
  
  --color-white: #fff;
  --color-black: #49493f;
}
.themes-dark {
  --color-main: #49493f;
  --color-second: #eae7dc;

  --color-white: #fff;
  --color-black: #49493f;
}
